html, body {
  margin: 0;
  padding: 0;
}
.window {
  width: 100%;
  height: 700px;
  position: absolute;
}
.window:nth-child(1) {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('images/office.jpg');
  background-size: cover;
  top: 0;
}

.window:nth-child(2) {
  /*background-color: rgba(248,140,45,.85);*/
  background: rgba(255,255,255,.6); /* Old browsers */
  top: 700px;
  height: 800px;
}

.window:nth-child(3) {
  /*background: rgba(230,230,230,.85);*/
  /*background-image: url('images/greyzz.png');
*/
   background: rgba(255,255,255,.6);
   height: 850px;
  top: 1500px;
}
.window:nth-child(4) {
  background: rgba(255,255,255,.6);
  z-index: 1000000;
  height: 1250px;
  top: 2350px;
  overflow: hidden;
}
.window:nth-child(5) {
  background: rgba(255,255,255,.6); 
  top: 3600px;
  z-index: 1000;
  height: 1000px;
}
.window:nth-child(6) {
  /*background-image: url('images/greyzz.png');*/
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('images/5.jpg');
  background-size: cover;
  top: 4600px;
}