html, body {
  margin: 0;
  padding: 0;
}
.window {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  overflow: hidden;
}
.window:nth-child(1) {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('images/office.jpg');
  background-size: cover;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
}

.window:nth-child(2) {
  /*background-color: rgba(248,140,45,.85);*/
  background: rgba(255,255,255,.6); /* Old browsers */
}

.window:nth-child(3) {
  /*background: rgba(230,230,230,.85);*/
  /*background-image: url('images/greyzz.png');
*/
   background: rgba(255,255,255,.6);
}
.window:nth-child(4) {
  background: rgba(255,255,255,.6);
  z-index: 1000000;
}
.window:nth-child(5) {
  background: rgba(255,255,255,.6); 
  z-index: 1000;
}
.window:nth-child(6) {
  /*background-image: url('images/greyzz.png');*/
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('images/5.jpg');
  background-size: cover;
}